<%-include('header')%>
<div class="container mt-3">
  <div class="row px-3 fst-italic fw-light" id="username"><a class="text-end" href="/users/<%=userid%>"
      style="text-decoration:none;">🍹<%=username%></a>
  </div>
  <div class="row text-center">
    <iframe
        src="https://giphy.com/embed/ucY7FE8F0IysM" >
    </iframe>
    
    <h1 class="mt-3">Search by:</h1>
  </div>
    
  <form action="/search" method="POST">
    <div class="row px-3 justify-content-center mt-3">
      <div class="col-5 col-md-3 text-center">
        <input type="radio" name="search" value = "ingredient" onclick=ingredientsClick() id="ingredient-button"required> Ingredient
      </div>
      <div class="col col-md-3 text-center">
        <input type="radio" name="search" value="flavor" id="flavor-button" onclick=flavorClick()> Flavor
      </div>
      <div class="col-3 col-md-3 text-center"> 
        <input type="radio" name="search" value="abv" id="abv-button" onclick=abvClick()> ABV
      </div>

    </div>


    <div class="row px-3 mt-4">
      <div id="ingredient-input" style="display:none">
        <input class="form-control ingredient_name" type="text" name="ingredient" id="ingredient" placeholder="ingredient name" autocomplete="off">
      </div>

      <div class="text-center" id="flavor-input" style="display:none">
        <div class="col">
          <input type="radio" name="flavor" value="sweet" id="sweet" class="flavor-value" required disabled>
          <label for="flavor">Sweet</label>
          <input type="radio" name="flavor" value="sour" id="sour" class="flavor-value" disabled>
          <label for="flavor">Sour</label>
          <input type="radio" name="flavor" value="bitter" id="bitter" class="flavor-value" disabled>
          <label for="flavor">Bitter</label>
        </div>
        <div class="col">
          <input type="radio" name="flavor" value="savory" id="savory" class="flavor-value" disabled>
          <label for="flavor">Savory</label>
          <input type="radio" name="flavor" value="spicy" id="spicy" class="flavor-value" disabled>
          <label for="flavor">Spicy</label>
          <input type="radio" name="flavor" value="fruity" id="fruity" class="flavor-value" disabled>
          <label for="flavor">Fruity</label>
        </div>
        
      </div>

      <div id="abv-input" style="display:none">
        <input type="range" name="abv" value="0" min="1" max="100" class="abv form-control" id="range_weight"
          oninput="range_weight_disp.value = range_weight.value + '%'">
        <output id="range_weight_disp">0%</output>
      </div>

    </div>
  
  <div class="row px-3 mt-3 justify-content-center">
    <input class="form-control w-25 btn btn-light" type="submit" value="Leggo">
  </div>

  </form>
</div>
</body>
<script>
  
  function ingredientsClick(){  
    
    let x = document.getElementById('ingredient-input');
    let y = document.getElementById('abv-input');
    let z = document.getElementById('flavor-input');
    let ingButton = document.getElementById('ingredient-button')
   
    if(x.style.display === 'none' && ingButton.checked === true){
      x.style.display = 'block'
      document.getElementById('ingredient').disabled = false
      document.getElementById('ingredient').setAttribute('required', '')
      y.style.display='none'
      z.style.display = 'none'
    } else {
      x.style.display = 'none';
      document.getElementById('ingredient').disabled = true
      document.getElementById('ingredient').removeAttribute('required')
    }

  }

  function flavorClick() {
    let flavButton = document.getElementById('flavor-button')
    let x = document.getElementById('ingredient-input');
    let y = document.getElementById('abv-input');
    let z = document.getElementById('flavor-input');

    if (z.style.display === 'none' && flavButton.checked === true) {
      z.style.display = 'block'
      // console.log(document.getElementsByClassName("flavor-value")[0])
      Array.from(document.getElementsByClassName("flavor-value")).forEach(flavor => flavor.disabled = false)
      y.style.display = 'none'
      x.style.display = 'none'
      document.getElementById('ingredient').removeAttribute('required')
    } else {
      z.style.display = 'none';
      Array.from(document.getElementsByClassName("flavor-value")).forEach(flavor => flavor.disabled = true)
    }
  }

  function abvClick() {
    
    let abvButton = document.getElementById('abv-button')
    let x = document.getElementById('ingredient-input');
    let y = document.getElementById('abv-input');
    let z = document.getElementById('flavor-input');
    
     if (y.style.display === 'none' && abvButton.checked === true) {
      y.style.display = 'block'
      document.getElementsByClassName('abv')[0].disabled = false
      z.style.display = 'none'
      x.style.display = 'none'
      document.getElementById('ingredient').removeAttribute('required')
    } else {
      y.style.display = 'none';
      document.getElementsByClassName('abv')[0].disabled = true
    }
    
  }

</script>
</html>